#include <iostream>
#include <fstream>
#include <string>

using namespace std;

int part1() {
    return 0;
}

int part2() {
    return 0;
}

int main() {
    cout << part1() << endl;
    cout << part2() << endl;
}